.wrapper-box {
  background-color: rgba(22, 231, 22, 0.178);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin-top: 3%;
  padding-bottom: 5px;
  padding-top: 15px;
  max-width: 420px;
  max-height: 60%;
  img {
    max-width: 200px;
    max-height: 100px;
  }
}
#tableLineas {
	margin-left: 0% ;
	width: 100%;
	
	.input-group-text {
		padding: 0 .5em 0 .5em;
		
		.fa {
			font-size: 12px;
		}
	}
}
.btnPuesto {
  width: 70%;
  background-color: rgb(43, 194, 56);
}
.btnPuesto:disabled{
  background-color: #ad5454;
}
.btnPuesto:hover{
  background-color: rgb(32, 43, 43);
}
.btnPuesto:active{
  background-color: cadetblue;
}
.btnPuesto:focus{
  background-color: burlywood;
}

.containerGigante{
  margin-top: 4%;
  margin-bottom: 5%;
  max-width: 99%;
}
.nav-tabs .nav-link.active {
  background-color: rgb(90, 209, 34);
}
#nav {
  background-color: rgb(78, 148, 57);
}

.labelTiquetes{
  margin-left: 4%;
  margin-top: 3%;
  max-width: 100%;
}
.colValor{
  padding-left: 0%;
}
.subValor{
  margin-top:10%;
}
.btnVenta{
  margin-top: 15%;
}
.valorTiquete{
  display: table;
  overflow: hidden;
  margin-left: 8%;
  max-width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: middle;
  
}
.containervalorTiquete{
  align-items:stretch;
  }
#valorTotal  {
  margin-top: 4%;
}
.containerTabla{
  margin-left: 1%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  max-width: 100%;
  margin-top: 1%;
  margin-bottom: 3%;
}
.containerPuestos{
  margin-top: 10%;
  background-image: url('~@/assets/Bus.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 80%;
  height: 100%;
}
.colpuestos{
  padding: 0%;
  max-width: 100%;
}
.containerNumPuestos{
  padding-top: 220px;
  width: 75%;
  margin: 0 auto;
}
.inputTiquete {
  margin-top: 3%;
  margin-left: 5%;
}
.headertablalineas{
  background-color: rgb(67, 143, 73);
}

.tablalineas{

    border-collapse: collapse;
}

.formV{
  margin-bottom: 5%;
}
.containerformV{
  max-width: 100%;
  padding-top: 2%;
  align-items: stretch;
  border-style: solid;
  border-width: 0px;
  border-color: rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  margin-left: -1%;
  margin-top: 8%;
  
}
.wrapper-box__title {
  color: $text-color;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
  padding-top: 5px;
}

.form {
  max-width: 320px;
  margin: auto;

  hr {
    margin: 5px 0;
  }
}

.form input[type=text],
.form input[type=email],
.form input[type=password] {
  border-radius: 2px;
  border: 1.5px solid $input-border-color;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: none;
  color: #ad5454;
  font-weight: 500;
  padding: .57rem .75rem;
  transition: all ease 500ms;
}

.form-newaccount {
  label {
    color: $form-label;
    font-weight: 500;
  }
}

.form-newaccount .form-control {
  &.orange {
    border-color: $bullet-bg-orange;
  }
  &.yellow {
    border-color: $bullet-bg-yellow;
  }
  &.green {
    border-color: $bullet-bg-active;
  }
}

.form-newaccount__bullet-steps {
  margin-bottom: 13px;
  margin-top: 8px;
}

.invalid-email,
.invalid-pass,
.error-message {
  color: $invalid-mail;
  display: block;
  // margin-top: 10px;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
}

.error-block {
  height: 20px;
  margin-top: 10px;
}

.invalid-pass {
  display: block;
  margin-top: 5px;
}

.btn {
  border-radius: 0;
  border: 0;
  box-shadow: none;
}

.btn-default {
  background-color: $button-bg;
  color: white;
  font-family: $font-lato;
  font-size: 20px;
  font-weight: 700;
  margin-top: 1rem;
  padding: .775rem .75rem;
  width: 100%;
  transition: all 300ms ease;

  &:hover {
    background-color: $button-hover-bg;
  }
  
}

.bullet-pass-hor {
  height: 8px;
  width: 100%;
  transition: all ease 400ms;

  span {
    background-color: $bullet-bg;
    display: block;
    height: 100%;
    width: 100%;

    &.orange {
      background-color: $bullet-bg-orange;
    }
    &.yellow {
      background-color: $bullet-bg-yellow;
    }
    &.green {
      background-color: $bullet-bg-active;
    }
  }
}

.bullet-pass-hor:nth-child(2) {
  margin: 0 8px;
}

.bullet-pass-hor {
  &:nth-child(2),
  &:nth-child(3) {
    .orange {
      background-color: $bullet-bg;
    }
  }
  &:nth-child(3) {
    .yellow {
      background-color: $bullet-bg;
    }
  }
}

.bullet-pass-rounded .fa.orange {
  color: $bullet-bg-orange;
}

.bullet-pass-rounded {
  color: $bullet-text;
  display: inline-block;
  font-weight: 500;
  line-height: 20px;
}

.bullet-pass-rounded .fa {
  color: $bullet-bg;
  font-size: 10px;
  height: 16px;
  vertical-align: middle;
  width: 10px;
  transition: all ease 400ms;

  &.active {
    color: $bullet-bg-active;
  }
}

.text-link {
  color: $text-link-color;
  font-size: 11px;
  font-weight: 500;

  &:hover {
    color: $text-link-color;
  }
}
