$font-size-base        : 0.875rem; // Assumes the browser default, typically `14px`
$body-bg               : rgb(166, 236, 144);
$bullet-bg             : #EDEDED;
$bullet-bg-active      : #1ed699;
$bullet-bg-orange      : #f26623;
$bullet-bg-yellow      : #f1b821;
$bullet-text           : #828282;
$bullet-active         : #1ED699;
$button-bg             : rgb(97, 182, 71);
$button-hover-bg       : #1d582f;
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-lato             : 'Lato', sans-serif;
$form-label            : #828282;
$input-border-color    : #BFBFBF;
$text-color            : rgb(0, 0, 0);
$invalid-mail          : #F26722;
$degrade-1             : #dbf7d0;
$degrade-2             : #dbf7d0;
$text-link-color       : #6C41D7;
